<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="generator" content="{{ eleventy.generator }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% if title %}
        {{ title | escape }} |
      {% endif %}
      {{ site.title | escape }}</title>
    <meta name="description" content="{% if description %}{{ description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {%- if noindex -%}
      <meta name="robots" content="noindex, nofollow">
    {%- endif -%}

    {%- if canonical -%}
      <link rel="canonical" href="{{ canonical }}">
    {%- else -%}
      <link rel="canonical" href="{{ env.baseUrl }}{{ page.url }}">
    {%- endif -%}

    <!-- Icons -->
    {% assign icon_path = "/assets/images/icons/" %}
    <link
      rel="icon"
      href="{{ icon_path }}favicon.ico"
      sizes="any">
    <link
      rel="icon"
      href="{{ icon_path }}icon.svg"
      type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ icon_path }}apple-touch-icon.png">
    <link rel="manifest" href="{{ icon_path }}manifest.webmanifest">

    <!-- Styles -->
    {%- if styles -%}
      {% for style in styles %}
        <link
          rel="stylesheet"
          href="{{ style | prepend: '/css/' }}"
          media="all">
      {% endfor %}
    {%- endif -%}

    <!-- Inline Styles -->
    {%- if page.style -%}
      <style>
        {{ page.style }}
      </style>
    {%- endif -%}

    <!-- Scripts -->
    {%- if scripts -%}
      {% for script in scripts %}
        <script
          src="{{ script | prepend: '/js/' }}"
          type="module"
          defer></script>
      {% endfor %}
    {%- endif -%}
  </head>

  <body class="flex flex-col min-h-screen">

    <header
      id="Header-Section"
      class="flex justify-center bg-amber-300"
      role="banner">
      {% render "header" %}
    </header>

    <main
      id="main-section"
      class="flex justify-center flex-grow bg-stone-50"
      role="main">
      <div class="max-w-2xl prose lg:prose-xl bg-stone-50">
        {{ content }}
      </div>
    </main>

    <footer
      id="Footer-Section"
      class="flex justify-center bg-amber-300"
      role="contentinfo">
      {% render "footer" %}
    </footer>

  </body>

</html>